* {
  --primary-color: #473c2b;
  --tints-color: #fbf9f3;
  --text-color: #043f2a;
  --accent-color: #9ac83d;
  --important-color: #e03131;
  --text-color-light: #fbf9f3;
  --background-color: #f3ecd7;
}

/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  width: 100%;
  margin-top: 2.4rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--accent-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--text-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--accent-color);
}

.nav-btn-icon {
  margin-left: 0.8rem;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 99;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/
.home-hero {
  padding: 16vw 4.8rem 8vw 4.8rem;
  background: url("../img/hero-img.jpg") no-repeat right top / 70vw auto;
}

.hero-title {
  font-size: 4.8rem;
  margin: 0 0 3.6rem;
  background: none;
  padding: 0;
  display: inline-block;
}

.hero-text {
  font-size: 2rem;
  width: 38vw;
  margin-bottom: 4.8rem;
}

.important-announcement {
  font-size: 2rem;
  width: 50vw;
  color: var(--important-color);
  border: var(--important-color) solid 3px;
  background-color: rgba(243, 236, 215, 0.75);
  padding: 2.4rem;
  border-radius: 12px;
}

.important-announcement-title {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.important-icon {
  margin-right: 1.2rem;
}

/**************************/
/* INFORMATION */
/**************************/
.info-section {
  padding: 0 4.8rem 6.4rem;
}

.info-container {
  background-color: var(--text-color-light); /*背景色*/
  box-shadow: 0 0 0 8px var(--text-color-light); /*背景色外側*/
  border: 2px dashed var(--accent-color); /*線*/
  border-radius: 8px; /*角の丸み*/
  padding: 2.4rem;
  border-radius: 12px;
}

.info-icon {
  margin-right: 1.2rem;
}

.secondary-heading--info {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}

.tertiary-heading--info {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  line-height: 1.6;
}

.info-link {
  border-bottom: var(--text-color) solid 1px;
}

.info-section p {
  font-size: 1.6rem;
}

/**************************/
/* PRODUCTIONS */
/**************************/
.product-section {
  padding: 9.6rem 0;
  background-color: #fbf9f3;
}

.heading-secondary--product {
  display: flex;
  align-items: center;
}

.heading-secondary-icon {
  width: 4rem;
  height: auto;
  margin-right: 1.2rem;
  line-height: 1.2;
}

.product {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: var(--primary-co) solid 3px;

  border: 5px double #ffffff;
  background-color: #ebf4d8;
  box-shadow: 0 0 0 6px #ebf4d8;
  padding: 0.8rem;
}

.product:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.product-other {
  background-color: #fff9db;
  box-shadow: 0 0 0 6px #fff9db;
}

.product-content {
  padding: 3.2rem 0.8rem 2.4rem 0.8rem;
}

.product-img {
  width: 80%;
  mix-blend-mode: multiply;
}

.product-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.product-text {
  font-size: 1.6rem;
}

/**************************/
/* WHAT'S NEW */
/**************************/
.whats-new-section {
  padding: 9.6rem 0;
}

.whats-new-section .container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  background-color: #fbf9f3;
  margin: 0 4.8rem;
  padding: 3.2rem;
  border-radius: 12px;
}

.news-date {
  font-size: 1.6rem;
  color: #b4c5bf;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.news-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.news-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-text {
  font-size: 1.6rem;
  line-height: 1.6;
}
